<style>

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    /*height: 4em;*/
    background-color: ##fefefe;
    border-bottom: solid 1px #bbb;
    padding: 1em;
}

.nav-fonts{
    font-family: 'Poiret One', cursive;
    font-size: 24px;
}

.brand-font{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 35px;
    margin-left: .25em;
    color: #f75722;
    text-decoration: none;  
}

.brand-font a:hover{
    
}

</style>

<header class="navbar" role="banner">
        <div class="">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/sites/index" class="navbar-brand brand-font scroll-link" data-id="carousel1">Body Budget</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse pull-right" role="navigation">
                <ul class="nav navbar-nav nav-fonts">
                     <li><a href="/sites/show" class="scroll-link" data-id="whatwedo">About Us</a></li>
                    <% if @current_user = nil %>
                    <li><a href='/auth/fitbit/' class="scroll-link" data-id="signup">Log In</a></li>
                    <% else %>
                    <li><a href='/logout' class="scroll-link" data-id="signup">Logout</a></li>
                    <% end %>
                </ul>
            </nav>
        </div>
    </header>