<div id="colordiv">
    <!--Carousel-->
  <div id="carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
      </ol>
      <!--Carousel-->

<!--       slides  -->
      <div class="carousel-inner">
        <div class="item active">
          <img style=""src="http://4.bp.blogspot.com/-yNZYAKL4Uio/Uuh7cYP-M-I/AAAAAAAAOeM/CR-FxBUJ1Bk/s1600/lavender+kumquat+shrub-2.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Get moving!!</h1>
              <p><a class="btn btn-lg btn-primary" href='/auth/fitbit/' role="button" style="background-color: #001450;">Log in with your fitbit!</a></p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="http://4.bp.blogspot.com/-dQH9SQjF3ic/UyU90kdYhoI/AAAAAAAAPMA/oFNuhvNFKF4/s1600/asparagus+sushi+bowl+-+lede-1.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>We help you keep up with your calories intake</h1>
              <p>Are you wondering what you should eat right now?</p>
              <p><a class="btn btn-lg btn-primary" href="/sites/show" role="button">Learn more</a></p>
            </div>
          </div>
        </div>

        <div class="item" style="">
          <img src="http://4.bp.blogspot.com/-aATcdmJKmbM/UtYtLnCnc9I/AAAAAAAAOWk/bg6yipSEoCs/s1600/miso+soba+noodle+soup-16.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Need more motivation?</h1>
              <p>Once you log in with your Fitbit, we will help you reaching your goals</p>
              <p><a class="btn btn-lg btn-primary" href="/sites/show"  role="button">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
       <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <!-- /.carousel -->

 <div class="container marketing">

      <!-- Three columns of text below the carousel -->

      <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="http://38.media.tumblr.com/c4ae753a0f505a698a6bf730c093173c/tumblr_mpzh9gUSNQ1qz8619o1_1280.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px; text-align: center; ">
            <h2>Connect your Fitbit data</h2>
            <p class="center">Are you working too many hours on your computer and need some motivation to get your butt moving?</p>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="http://38.media.tumblr.com/f77e8f567dc1d71269cb75c9b0f0f0c7/tumblr_n70d67FJOk1qfj6wko1_500.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px; ">
            <h2>What you can do</h2>
            <p class="center">Fitbit doesn't just track how many steps a user takes, but calculates calories burned, distance traveled and hours slept. This complementary Fitbit website also helps users track food consumed and weight gained and lost.</p>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="http://33.media.tumblr.com/cc9d2d613cde3e0bc1ca82fd424de978/tumblr_n9qjk0jNb41r28mvbo1_500.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>What we can do for you</h2>
            <p class="center">We will get you to eat healthier and give you ideas on what to cook for yourself at any time of the day.</p>
        </div>
    </div>


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


    <div id="location">
        <h1 class="customheader text-center" style="color: #FFFFFF">Office Location</h1>
        <div class="text-center">
                <div>501 Folsom Street</div>
                <div>San Francisco</div>
                <div>CA, USA</div>
        </div>
        <div class="page-section">
            <div class="row">
                 <div id="map-container"></div>
                </div>
            </div>
        </div>
    </div>
 <!-- google map end -->


<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script>

    /* google maps -----------------------------------------------------*/
    function init_map() {
        var myLocation = new google.maps.LatLng(37.786958, -122.394462);

        var mapOptions = {
            center: myLocation,
            zoom: 17,
            scrollwheel: false
        };

        var marker = new google.maps.Marker({
            position: myLocation,
            title: "Office Location"
        });

        var map = new google.maps.Map(document.getElementById("map-container"),
            mapOptions);

        marker.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', init_map);

    // var listener1 = google.maps.event.addListener(marker, 'mouseover', aFunction);
    // google.maps.event.removeListener(listener1);
    /* end google maps -----------------------------------------------------*/

</script>

